<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="app.js"></script>
  </head>

  <body ng-app="theApp" ng-controller="maincontroller">

      <h3> Your listing </h3>
      <input ng-model="post.item" placeholder="item"> {{post.item}}
      <br>
      <input ng-model="post.description" placeholder="description">
      <br>
      <input ng-model="post.price" placeholder="price">
      <br>
      <button ng-click="addItem(post)">Add listing</button>

    <ul>
      <li ng-repeat="post in itemlist">
        {{post.item}} <button ng-click="remove(post._id)">Remove</button>
        <br>
        {{post.description}}
        <br>
        ${{post.price}} per day
      </li>

    </ul>

  </body>

</html>
